@font-face {
  font-family: "Digital7Mono";
  src: url("./Digital7Mono-Yz9J4.ttf") format("truetype");
}
:root {
  --teal: hsl(169.71, 85.37%, 75.88%);
  --dark-teal: hsl(169.71, 85.37%, 55.88%);
  --lavender: hsl(241.32, 76.47%, 76.67%);
  --dark-lavender: hsl(241.32, 76.47%, 67.67%);
  --lavender-shadow: hsla(241.32, 66.47%, 57.67%, 0.69);
  --light-purple: hsl(278.24, 83.49%, 78.63%);
  --pink: hsl(296.25, 69.57%, 81.96%);
  --dark-pink: hsl(296.25, 69.57%, 65.96%);
  --pink-shadow: hsl(296.25, 59.57%, 35.96%);
  --shadow: hsla(0, 0%, 0%, 0.56);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-purple);
}

#calculator {
  height: 650px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 10px;
  background: linear-gradient(
    180deg,
    var(--lavender) 0%,
    var(--dark-lavender) 100%
  );
  /* box-shadow: 0 0 18px hsla(0, 0%, 0%, 0.7); */
  box-shadow:
    -8px 8px 0px var(--lavender-shadow),
    -20px 20px 20px var(--shadow);
}

#display {
  display: flex;
  font-family: "Digital7Mono", monospace;
  flex-direction: column;
  align-items: center;
  height: 120px;
  width: 350px;
  gap: 3px;
  margin: 30px auto 30px auto;
  border: 5px black inset;
  background: linear-gradient(180deg, var(--teal) 0%, var(--dark-teal) 100%);
  overflow: hidden;
}

#history,
#current {
  min-height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  white-space: nowrap;
}

#history::-webkit-scrollbar,
#current::-webkit-scrollbar {
  display: none;
}

#history {
  flex: 1;
  width: 325px;
  text-align: right;
  font-size: 2rem;
  border: none;
  background: transparent;
}

#current {
  flex: 2;
  width: 325px;
  text-align: right;
  font-size: 3.5rem;
  border: none;
  background: transparent;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  gap: 1rem;
}

#buttons div {
  display: flex;
}

#rowOne,
#rowTwo,
#rowThree,
#rowFour,
#rowFive {
  justify-content: space-between;
}

#rowFive {
  gap: 22.5px;
}

.calculatorButton {
  height: 65px;
  width: 65px;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--pink) 0%, var(--dark-pink) 100%);
  border: none;
  box-shadow:
    0px 8px 0px var(--pink-shadow),
    0 12px 20px var(--shadow);
  transition: all 0.1s ease;
  transform: translateY(0);
}

.calculatorButton:active {
  transform: translateY(6px);
  box-shadow:
    0 2px 0 var(--pink-shadow),
    0 4px 8px var(--shadow);
}

.buttonDepressed {
  transform: translateY(6px);
  box-shadow:
    0 2px 0 var(--pink-shadow),
    0 4px 8px var(--shadow);
}

#zero,
#point {
  flex-grow: 1.5;
}
